<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->

<%- partial('_partial/head') %>

<body>

  <!--[if lte IE 9]>
    <p class="browser-warning" style="position:fixed;top:0;left:0;right:0;padding:10px;text-align:center;color:red;background:yellow;">Why are you still using old version of IE??? Go and <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
  <![endif]-->

  <%- body %>

  <%
    var post_cover = page.cover? page.cover :
      is_post() ? config.cover.post :
      is_category() ? config.cover.categories:
      is_archive() ? config.cover.archives:
      is_tag() ? config.cover.tags:
      is_home() ? config.cover.home: config.cover.default
    var cover_position = get_cover_position(post_cover)
    var path_to_cover = config.cover.path + post_cover
  %>

  <%- partial('_partial/menu', {
      cover_position: cover_position,
      path_to_cover: path_to_cover
    })
  %>

  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>

  <%- js('static/bundle') %>
  <%- partial('_partial/google-analytics') %>
  <%- partial('_partial/no-js') %>
</body>
</html>
