<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%- partial('_partial/head') %>

<body>

  <!--[if lt IE 8]>
    <p class="browser-warning">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <%- partial('_partial/cover', null, {cache: !config.relative_link}) %>

  <%- partial('_partial/menu-icon') %>

  <div class="main-content">
    <%- body %>
    <% if (is_post()) {  %>
        <%- partial('_partial/toc', null, {cache: !config.relative_link}) %>
    <% } %>
    <%- partial('_partial/disqus') %>
  </div> <!-- .main-content -->

  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>

  <%- partial('_partial/hairline-border') %>
  <%- js('js/script') %>
  <%- partial('_partial/google-analytics') %>
</body>
</html>
