<% if (page.path === "categories/index.html") {
  let colors = flat_color_templatte()
%>
  <ul class="site-categories">

  <% let i = -1
    site.categories.sort('name').each((category) => {
      i += 1
      let path_to_cover = ''
      let cover_position = 'center'
      category.posts.sort('-date').some((post) => {
        if (post.cover) {
          let cover_info = get_cover_info(post.cover)
          path_to_cover = cover_info.path_to_cover
          cover_position = cover_info.cover_position
          return true
        }
      })
  %>
    <li class="category-item" style="background: <%- colors[i%colors.length].dark %> url(<%- path_to_cover %>) <%- cover_position %>/cover">
      <a class="category-link" href="<%- url_for(category.path) %>">
        <h1 class="category-title"><%- category.name %></h1>
        <span class="color-mask" style="background-color: <%- colors[i%colors.length].dark %>;"></span>
      </a>
    </li>
  <% }) %>
  </ul> <!-- site-categories -->
<% } %>



<% if (page.path === "tags/index.html") {
  let colors = flat_color_templatte()
  let tags = site.tags.map((tag) => {
    return {
      phonetic: pinyin(tag.name, {
        style: pinyin.STYLE_NORMAL
      }).join(' ').toLowerCase(),
      data: tag
    }
  }).sort((a, b) => {
    return a.phonetic < b.phonetic ? -1 : a.phonetic === b.phonetic ? 0 : 1
  }).reduce((list, item) => {
    let phonetic = item.phonetic
    // stats with letter, index 1~26
    if (/[a-z]/i.test(phonetic[0])) {
      let i = phonetic.charCodeAt(0) - 96
      list[i].tags.push(item.data)
    }
    // starts with number, index 0
    else if (/\d/i.test(phonetic[0])) {
      list[0].tags.push(item.data)
    }
    else {
      list[27].tags.push(item.data)
    }
    return list
  }, [
    '0~9',
    'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z',
    '#'
  ].map((item) => { return { index: item, tags: [] } }))
%>
  <ul class="site-tags">
  <% tags.forEach((cate) => { %>
    <% if (cate.tags.length <= 0) { return } %>
    <li>
      <h1 class="tag-index"><%- cate.index %></h1>
      <ul class="tag-list">
      <% let i = hash_code(cate.tags[0].name) % colors.length %>
      <% cate.tags.forEach((tag) => { %>
        <% let b = hash_code(tag.name) % 2 === 0 ? 'dark' : 'light' %>
        <li class="tag-item" style="background-color:<%- colors[i++%colors.length][b] %>"><a class="tag-link" href="<%- url_for(tag.path) %>"><%- tag.name %></a></li>
      <% }) %>
      </ul>
    </li>
  <% }) %>
  </ul> <!-- site-categories -->
<% } %>
