<%- partial('_partial/cover', null, {cache: !config.relative_link}) %>

<%- partial('_partial/menu-icon') %>

<div class="main-content">
  <%- partial('_partial/article', {post: page, index: false}) %>
  <% if (is_post()) {  %>
      <%- partial('_partial/toc', null, {cache: !config.relative_link}) %>
  <% } %>
  <%- partial('_partial/disqus') %>
</div> <!-- .main-content -->
