<section id="comments">
  <% if (config.disqus_shortname) { %>
    <div id="disqus_thread"
      <% if (page.permalink){ %> data-url="<%= page.permalink %>" <% } %>
      data-identifier="<%= page.path %>"
      data-src="//<%- config.disqus_shortname %>.disqus.com/<% if (page.comments) { %>embed.js<% } else { %>count.js<% } %>"
    >
      <div class="no-comments">
        您还在局域网，评论加载不了。
      </div>
      <% if (config.cloud_tie_key) { %>
        <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
        <script>
          window.cloudTieConfig = {
            url: document.location.href,
            sourceId: "<%= page.path %>",
            productKey: "<%- config.cloud_tie_key %>",
            target: "cloud-tie-wrapper"
          };
        </script>
      <% } %>
      <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  <% } else if (config.cloud_tie_key) { %>
    <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
    <script>
      window.cloudTieConfig = {
        url: document.location.href,
        sourceId: "<%= page.path %>",
        productKey: "<%- config.cloud_tie_key %>",
        target: "cloud-tie-wrapper"
      };
    </script>
  <% } %>
</section>
