<footer class="site-footer js-swap-menu">
  <ul class="new-articles"></ul>
  <div class="site-description">
    I <a href="https://github.com/<%- theme.github %>/">code</a>, <a href="http://codepen.io/<%- theme.codepen %>/">design</a>, <a href="https://twitter.com/<%- theme.twitter %>/">tweet</a> &amp; <a href="<%- config.url %>">blog</a>.
  </div>
  <div class="copyright">© COPYRIGHT 2016 · Designed &amp; Hand Written With <svg class="icon-heart"><use xlink:href="<%- theme.icon_symbols %>#icon-heart"></use></svg></div>
</footer>
