<header class="header">
  <div class="logo" style="height:100px; width:100px;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 440 440">
      <g class="logo__shadow" opacity=".15">
        <path d="M124.032 361.07c-17.547 0-30.645-4.22-39.292-12.654S71.77 326.61 71.77 308.3V276c0-8.728-1.95-15.3-5.85-19.71-3.9-4.406-10.384-6.61-19.454-6.61h-8.012v-24.035h8.012c4.577 0 8.476-.487 11.698-1.46 3.22-.975 5.85-2.48 7.884-4.516 2.035-2.036 3.497-4.642 4.387-7.82.89-3.18 1.334-6.973 1.334-11.38v-22.38c0-8.73.995-16.404 2.987-23.017 1.99-6.613 5.107-12.122 9.346-16.53 4.238-4.408 9.642-7.736 16.213-9.983 6.57-2.245 14.474-3.37 23.715-3.37h10.683v23.906H126.7c-4.067 0-7.735.49-10.998 1.462-3.264.976-6.083 2.566-8.456 4.77-2.375 2.205-4.197 5.108-5.468 8.71-1.272 3.604-1.907 8.075-1.907 13.416v22.252c0 6.36-.53 11.784-1.588 16.277-1.06 4.494-2.692 8.246-4.896 11.253-2.206 3.01-5.003 5.34-8.393 6.994-3.39 1.653-7.375 2.82-11.953 3.497 9.07 1.017 15.81 4.558 20.22 10.617 4.405 6.063 6.61 15.368 6.61 27.913v32.298c0 5.51.636 10.088 1.908 13.732 1.27 3.646 3.094 6.568 5.468 8.774 2.372 2.205 5.19 3.772 8.456 4.706 3.263.932 6.93 1.398 11 1.398h8.01v23.906h-10.68zM264.67 310.59l-32.045-61.166-31.534 61.165h-37.766l47.94-85.2-44.76-81h36.75l30.135 57.857 29.118-57.856h36.75l-44.506 81 49.72 85.2H264.67zM343.764 125.19c17.63 0 30.772 4.218 39.418 12.652 8.646 8.437 12.97 21.852 12.97 40.246v21.363c0 8.733 1.928 15.282 5.787 19.647 3.854 4.368 10.317 6.548 19.39 6.548h8.14v24.034h-8.14c-4.578 0-8.478.488-11.697 1.46-3.224.977-5.83 2.48-7.82 4.515-1.994 2.034-3.434 4.643-4.324 7.82-.89 3.18-1.336 6.974-1.336 11.38V308.3c0 8.73-.997 16.382-2.988 22.95-1.993 6.57-5.108 12.06-9.347 16.468-4.24 4.408-9.665 7.735-16.276 9.98-6.613 2.247-14.54 3.372-23.778 3.372h-10.683v-23.906h8.14c4.067 0 7.733-.467 10.998-1.398 3.264-.935 6.083-2.523 8.457-4.77 2.372-2.246 4.197-5.17 5.468-8.773 1.272-3.604 1.907-8.073 1.907-13.414v-33.063c0-6.358.528-11.805 1.59-16.34 1.06-4.535 2.67-8.308 4.833-11.318 2.16-3.008 4.937-5.32 8.328-6.932 3.39-1.61 7.375-2.752 11.953-3.432-9.072-1.1-15.79-4.683-20.154-10.746-4.367-6.06-6.55-15.365-6.55-27.91v-21.236c0-5.51-.635-10.11-1.907-13.797-1.27-3.688-3.096-6.632-5.468-8.838-2.374-2.204-5.193-3.772-8.456-4.707-3.264-.932-6.93-1.398-10.998-1.398h-8.14V125.19h10.682z"/>
      </g>
      <g fill="#FFF">
        <path d="M109.032 346.07c-17.547 0-30.645-4.22-39.292-12.654S56.77 311.61 56.77 293.3V261c0-8.728-1.95-15.3-5.85-19.71-3.9-4.406-10.384-6.61-19.454-6.61h-8.012v-24.035h8.012c4.577 0 8.476-.487 11.698-1.46 3.22-.975 5.85-2.48 7.884-4.516 2.035-2.036 3.497-4.642 4.387-7.82.89-3.18 1.334-6.973 1.334-11.38v-22.38c0-8.73.995-16.404 2.987-23.017 1.99-6.613 5.107-12.122 9.346-16.53 4.238-4.408 9.642-7.736 16.213-9.983 6.57-2.245 14.474-3.37 23.715-3.37h10.683v23.906H111.7c-4.067 0-7.735.49-10.998 1.462-3.264.976-6.083 2.566-8.456 4.77-2.375 2.205-4.197 5.108-5.468 8.71-1.272 3.604-1.907 8.075-1.907 13.416v22.252c0 6.36-.53 11.784-1.588 16.277-1.06 4.494-2.692 8.246-4.896 11.253-2.206 3.01-5.003 5.34-8.393 6.994-3.39 1.653-7.375 2.82-11.953 3.497 9.07 1.017 15.81 4.558 20.22 10.617 4.405 6.063 6.61 15.368 6.61 27.913v32.298c0 5.51.636 10.088 1.908 13.732 1.27 3.646 3.094 6.568 5.468 8.774 2.372 2.205 5.19 3.772 8.456 4.706 3.263.932 6.93 1.398 11 1.398h8.01v23.906h-10.68zM249.67 295.59l-32.044-61.166-31.535 61.165h-37.766l47.94-85.2-44.76-81h36.75l30.136 57.857 29.12-57.856h36.75l-44.507 81 49.72 85.2H249.67zM328.764 110.19c17.63 0 30.772 4.218 39.418 12.652 8.646 8.437 12.97 21.852 12.97 40.246v21.363c0 8.733 1.928 15.282 5.787 19.647 3.854 4.368 10.317 6.548 19.39 6.548h8.14v24.034h-8.14c-4.578 0-8.478.488-11.697 1.46-3.224.977-5.83 2.48-7.82 4.515-1.994 2.034-3.434 4.643-4.324 7.82-.89 3.18-1.336 6.974-1.336 11.38V293.3c0 8.73-.997 16.382-2.988 22.95-1.993 6.57-5.108 12.06-9.347 16.468-4.24 4.408-9.665 7.735-16.276 9.98-6.613 2.247-14.54 3.372-23.778 3.372h-10.683v-23.906h8.14c4.067 0 7.733-.467 10.998-1.398 3.264-.935 6.083-2.523 8.457-4.77 2.372-2.246 4.197-5.17 5.468-8.773 1.272-3.604 1.907-8.073 1.907-13.414v-33.063c0-6.358.528-11.805 1.59-16.34 1.06-4.535 2.67-8.308 4.833-11.318 2.16-3.008 4.937-5.32 8.328-6.932 3.39-1.61 7.375-2.752 11.953-3.432-9.072-1.1-15.79-4.683-20.154-10.746-4.367-6.06-6.55-15.365-6.55-27.91v-21.236c0-5.51-.635-10.11-1.907-13.797-1.27-3.688-3.096-6.632-5.468-8.838-2.374-2.204-5.193-3.772-8.456-4.707-3.264-.932-6.93-1.398-10.998-1.398h-8.14V110.19h10.682z"/>
      </g>
      <!-- http://stackoverflow.com/a/19553517/3432641 -->
      <a xmlns="http://www.w3.org/2000/svg" id="anchor" xlink:href="http://www.crimx.com/" xmlns:xlink="http://www.w3.org/1999/xlink" target="_top">
          <rect x="0" y="0" width="100%" height="100%" fill-opacity="0"/>
      </a>
    </svg>
  </div> <!-- .logo -->

  <nav class="site-nav">
    <a href="<%- url_for(theme.menu['Categories']) %>">Categories</a>
    <a href="<%- url_for(theme.menu['Archives']) %>">Archives</a>
    <a href="<%- url_for(theme.menu['Tags']) %>">Tags</a>
    <a href="<%- url_for(theme.menu['Search']) %>">Search</a>
  </nav>

  <nav class="social-nav">
    <a href="https://twitter.com/<%- theme.tweeter %>/">Twitter</a>
    <a href="https://github.com/<%- theme.github %>/">Github</a>
    <a href="http://codepen.io/<%- theme.codepen %>/">Codepen</a>
    <a href="http://www.crimx.com/aboutme">More...</a>
  </nav>
</header>