<% 
var cover = url_for(theme.cover.default);;

if (is_post()) {
  if (page.cover) {
    cover = url_for(page.path + page.cover);
  } else {
    cover = url_for(theme.cover.post);
  }
} else if (is_home()) {
  cover = url_for(theme.cover.home);
} else if (is_archive()) {
  cover = url_for(theme.cover.archive);
} else if (is_category()) {
  cover = url_for(theme.cover.category);
} else if (is_tag()) {
  cover = url_for(theme.cover.tag);
}

%>

<header class="site-header" style="background: #1e1d1d no-repeat url('<%- cover %>') center/cover;">

  <%- partial('svg-icons/logo') %>

  <nav class="site-nav">
    <a href="<%- url_for(theme.menu['Categories']) %>">Categories</a>
    <a href="<%- url_for(theme.menu['Archives']) %>">Archives</a>
    <a href="<%- url_for(theme.menu['Tags']) %>">Tags</a>
    <a href="http://www.crimx.com/aboutme">About</a>
  </nav>

  <nav class="social-nav">
    <%- partial('svg-icons/twitter') %>
    <%- partial('svg-icons/github') %>
    <%- partial('svg-icons/codepen') %>
    <%- partial('svg-icons/mail') %>
  </nav>

  <div class="title-wrapper">
    <%- partial('post/title', {class_name: 'site-title', post: page}) %>
    <%- partial('post/tagline', {post: page}) %>
  </div>

  <% if (is_post()) { %>
    <div class="article-meta">
      <%- partial('post/category', {post: page, prefix: true}) %>
      <%- partial('post/date', {class_name: 'article-date', date_format: null, post: page}) %>
      <%- partial('post/date-updated', {class_name: 'article-date', date_format: null, post: page}) %>
    </div>
  <% } %>

</header>
