<div class="site-menu js-progressive-bg-container" style="background: url('<%- path_to_cover %>') <%- cover_position %>/cover">
  <div class="site-menu-bg-thumb js-progressive-bg-thumbnail" style="background: url('<%- path_to_thumbnail %>') <%- cover_position %>/cover"></div>
  <div class="site-menu-inner-wrapper">
    <div class="menu-logo">
      <a class="icon-logo" href="/"></a>
    </div>
    <ul class="menu-social-icons">
      <li><a class="icon-weibo" href="//www.weibo.com/<%- theme.weibo %>"></a></li>
      <li><a class="icon-github" href="//github.com/<%- theme.github %>"></a></li>
      <li><a class="icon-mail" href="mailto:<%- theme.mail %>"></a></li>
      <li><a class="icon-rss" href="<%- url_for(theme.rss) %>"></a></li>
    </ul>
    <ul class="menu-navs">
      <li><a href="/categories/">Categories</a></li>
      <li><a href="/archives/">Archives</a></li>
      <li><a href="/tags/">Tags</a></li>
      <li><a href="/search/">Search</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </div>
</div>
<div class="site-menu-mask"></div>
