<div class="site-menu" style="background-image:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url('<%- path_to_cover %>');background-position:0,<%- cover_position %>;background-size:auto,cover">
  <div class="site-menu-inner-wrapper">
    <img class="menu-logo" src="/images/logo.svg" alt="site logo">
    <div class="menu-social-icons">
      <%- partial('_partial/svg-icons/twitter') %>
      <%- partial('_partial/svg-icons/github') %>
      <%- partial('_partial/svg-icons/codepen') %>
      <%- partial('_partial/svg-icons/mail') %>
    </div>
    <ul class="menu-navs">
      <li><a href="/categories/">Categories</a></li>
      <li><a href="/archives/">Archives</a></li>
      <li><a href="/tags/">Tags</a></li>
      <li><a href="/search/">Search</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </div>
</div>
<div class="site-menu-mask"></div>
