<% if (locals.titlename) { %>
  <h1 class="post-list-header"><%- titlename %></h1>
<% } %>

<%
var colors = rainbow_color_templatte()
var i = -1
page.posts.sort('-date').each((post) => {
  i += 1
  var color = colors[i%colors.length]
  var cover_info = get_cover_info(post.cover)
%>
  <ul class="post-list">
    <li class="post-list-item js-progressive-bg-container" style="background:<%- color %> url('<%- cover_info.path_to_cover %>') <%- cover_info.cover_position %>/cover">
      <div class="post-list-thumbnail js-progressive-bg-thumbnail" style="background:<%- color %> url('<%- cover_info.thumbnail_base64 %>') <%- cover_info.cover_position %>/cover"></div>
      <a class="post-list-link" href="<%- url_for(post.path) %>">
        <h1 class="post-list-title"><%- post.title %></h1>
      </a>
    </li>
  </ul>
<%
})
%>
