<% if (locals.titlename) { %>
  <h1 class="post-list-header"><%- titlename %></h1>
<% } %>

<%
var colors = rainbow_color_templatte()
var i = -1
page.posts.sort('-date').each((post) => {
  i += 1
  var color = colors[i%colors.length]
  var post_cover = post.cover || ''
  var bg_position = get_cover_position(post_cover)
%>
  <ul class="post-list js-swap-menu">
    <li class="post-list-item" style="background-color:<%- color %>;background-image:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url('<%- config.cover.path+post_cover %>');background-position:0,<%- bg_position %>;background-size:auto,cover"><a class="post-list-link" href="<%- url_for(post.path) %>"><h1 class="post-list-title"><%- post.title %></h1></a></li>
  </ul>
<%
})
%>
